:host{
  display: block;
  scroll-snap-align: start;
}

section:first-child{
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  position: relative;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:first-child:before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../../assets/features/home/homePage01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

section:first-child > div{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

section:first-child > div > h1{
  font-family:'Times New Roman', Times, serif;
  color: #171C21;
  font-size: 80px;
}

section:first-child > div > h3{
  color: #171C21;
  font-size: 25px;
}

section:first-child > div > p{
  color: #454a52;
  font-size: 16px;
  font-weight: 700;
}

section:first-child > div > button{
  background-color: #df4e00;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 17px;
  border-radius: 100px;
  cursor: pointer;
}





section:not(:first-child){
  height: initial;
  padding: 60px  10%;
}





section:nth-child(2), section:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

section >  h2{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

section:nth-child(2) >  div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: fit-content;
  width: 75%;
}

section:nth-child(2) > div > a{
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #df4e005b;
  background-color: #df4e000f;
  padding: 5px 20px;
  color: white;
  font-weight: 600;
  border-radius: 100px;
}




section:nth-child(3){
  background-color: #df4e0018;
}

section:nth-child(3) > div{
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px 0;
}

// section:nth-child(3) > div > a{
//   height: 310px;
//   min-width: 290px;
//   max-width: 290px;
//   display: flex;
//   flex-direction: column;
//   background-color: #1b0900;
//   border-radius: 20px;
//   overflow: hidden;
// }

// section:nth-child(3) > div > a > div{
//   display: flex;
//   padding: 15px 10px;
//   flex-direction: column;
//   gap: 8px;

// }

// section:nth-child(3) > div > a > img{
//   border-radius: 5px;
//   aspect-ratio: 16/9;
//   object-fit: cover;

// }

// section:nth-child(3) > div > a > div > h4{
//   font-weight: 700;
//   font-size: 14px;
//   color: #df4e00;
//   text-transform: uppercase;
// }

// section:nth-child(3) > div > a > div > h3{
//   font-weight: 700;
//   font-size: 20px;
//   color: white;
// }


@media screen and (max-width: 1000px) {
  section:first-child > div{
    width: 100%;
    padding:30px 5%;
    align-items: start;
    gap: 0;
    text-align: initial;
    background-color: #171c21d6;
  }

  section:first-child > div > h1{
    color: white;
  }

  section:first-child > div > h3{
    font-weight: 500;
    color: #eb905f;
  }

  section:first-child > div > button{
    margin-top:30px;
  }

  section:nth-child(2) >  div{
    width: 100%;
  }

}


@media screen and (max-width: 768px) {
  section:first-child > div > h1{
    font-size: 45px;
  }

  section:first-child > div > h3{
    font-size: 18px;
  }

  section:first-child > div > button{
    font-size: 14px;
    padding: 8px 15px;
  }

  section:not(:first-child){
    height: initial;
    padding: 60px 5%;
  }

}