
section{
  height: 100vh;
  width: 100vw;
  display: flex;
}

section:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/024/731/716/large_2x/healthy-food-concept-fresh-vegetables-fruits-and-legumes-on-black-background-generative-ai-free-photo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right ;
  filter: brightness(0.8);
  z-index: -1;
}

section > div{
  flex-basis: 50%;
}

section > div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
}

section > div:nth-child(1) > h1{
  color: white;
  background-color: #141414;
  padding: 70px 10%;
  width: 100%;
  font-size: 45px;
  text-align: center;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}

section > div:nth-child(1) > h1:before,section > div:nth-child(1) > h1:after{
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #141414;
  right: 0;
}


section > div:nth-child(1) > h1:before{
  top: -50px;
  mask-image: radial-gradient(farthest-corner at top left, transparent 70%, black 71%);
  -webkit-mask-image: radial-gradient(farthest-corner at top left, transparent 70%, black 71%);
}
section > div:nth-child(1) > h1:after{
  bottom: -50px;
  mask-image: radial-gradient(farthest-corner at bottom left, transparent 70%, black 71%);
  -webkit-mask-image: radial-gradient(farthest-corner at bottom left, transparent 70%, black 71%);
}





section > div:nth-child(2){
  padding: 20px 13%;
  background-color: #141414;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

section > div:nth-child(2) > h2{
  font-size: 40px;
  color: #df4e00;
}

.separator{
  width: 100%;
  border-radius: 100px;
  background-color: white;
}

section > div:nth-child(2) > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

section > div:nth-child(2) > form > span{
  display: flex;
  gap: 10px;
}

.input-counter{
  height: 100%;
  width: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: 18px;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

section > div:nth-child(2) > form > span > input{
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(223, 78, 0, 0.0588235294);
  border-bottom: 3px solid #df4e00;
}

section > div:nth-child(2) > form > span > input:focus + .input-counter{
  width: 40px;
}

section > div:nth-child(2) > form > span > input::placeholder{
  color: rgb(195, 195, 195);
  font-weight: 500;
  font-size: 14px;
}

.login{
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  float: right;
  font-weight: 700;
  margin-top: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 12px 57px;
  background-color: #df4e00;
  color: white;
  transition: all .3s ease-in-out;
  place-self: center;
  }

  .login:hover{
    border-radius: 100px;
    width: 90%;
    background-color: rgba(223, 78, 0, 0.0588235294);
  }

  .google{
    background-color:transparent;
    margin-top: 20px;
    border-radius: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    border: 2px solid #df4e00;
    justify-content: center;
    padding: 2px 0;
    transition: all .3s ease-in-out;
    position: relative;
    cursor: pointer;
    overflow-x: hidden;
}

.google:before{
    position: absolute;
    content: "Google";
    color: white;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(223, 78, 0, 0.0588235294);
    height: 100%;
    text-indent: 50%;
    transform: translateX(-110%);
    width: 100%;
    border-radius: 100px;
    transition: all 1s ease-in-out;
}

.google:hover{
    width: 80%;
}

.google svg{
    width: 100%;
    transition: all 1s ease-in-out;
}

.google:hover svg{
    transform: translateX(40%);
}

.google:hover:before{
    transform: translateX(-20%);
}

.no-account{
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.no-account a{
  color: #df4e00;
  text-decoration: none;
  font-weight: 700;
}

.error{
  color: #e84435;
  margin-bottom: 5px;
}


@media screen and (max-width: 1400px){

  section > div:nth-child(2){
    padding: 20px 5%;
  }

  section > div:nth-child(1) > h1{
    font-size: 35px;
  }

}

@media screen and (max-width: 1000px){

  section > div:nth-child(1){
    display: none;
  }

  section > div{
    flex-basis: 100%;
  }


  section > div:nth-child(2){
    padding: 20px 10%;
  }

}

@media screen and (max-width: 768px){
  section > div:nth-child(2){
    padding: 20px 5%;
  }
}